<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral" />
  </configSections>

  <dataConfiguration defaultDatabase="BookCheckINOUTDBConnection" />

  <connectionStrings>
    <add name="BookCheckINOUTDBConnection" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=BookCheckInCheckOut;User ID=adminuser;Password=Password@123" providerName="System.Data.SqlClient" />
 
  <!--<add name="BookCheckINOUTDBConnection" connectionString="data source=127.0.0.1,1433;initial catalog=BookCheckInCheckOut;User ID=adminuser;Password=Password@123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>